<div class="hero" id="hero">
  <div class="hero-wrapper">
    <div class="title-card">
      <h1>Jimuel Cinco</h1>
      <h2>Software Engineer</h2>
    </div>
    <p>
      👋 Hi, I'm a Backend-Focused Software Engineer with experience building
      scalable APIs, microservices, and integrations using Java, SpringBoot, and
      SQL. I’ve contributed to fintech and enterprise solutions, working in
      Agile teams and collaborating across mobile, frontend, and backend
      systems. Passionate about clean code, system reliability, and continuous
      improvement.
    </p>
    <app-socials class="socials"></app-socials>
    <app-tech-stack class="tech-stack"></app-tech-stack>
  </div>
</div>
