.projects {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
}
.project-wrapper {
  display: flex;
  width: 33vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project h1 {
  margin-bottom: 0;
  font-size: 4rem;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  margin-bottom: 1rem;
}
