.main-wrapper {
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: clamp(2px, 1.5vw, 5px);
  height: 16px;
}

/* Style the track (background of the scrollbar) */
::-webkit-scrollbar-track {
}

/* Style the draggable "thumb" part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
