<div class="experience">
  <div class="exp-wrapper">
    <h1>Experience</h1>
    <section class="experience-wrapper">
      <div class="exp" *ngFor="let exp of experiences">
        <div class="company-wrapper">
          <div
            class="exp-icon"
            [style.background-image]="'url(' + exp.companyIcon + ')'"
          ></div>
          <div class="company-details">
            <label class="company-name">{{ exp.companyName }}</label>
            <label class="job-title">{{
              exp.position + " " + exp.stayDuration
            }}</label>
          </div>
        </div>
        <label class="deployments">Deployments:</label>
        <div
          class="deployment-wrapper"
          *ngFor="let deployment of exp.deployments"
        >
          <div
            class="exp-icon"
            [style.background-image]="'url(' + deployment.proejctBanner"
          ></div>
          <div class="company-details">
            <label class="company-name">{{ deployment.projectName }}</label>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
