.experience {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
}
.exp-wrapper {
  display: flex;
  width: 33vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exp-wrapper h1 {
  margin-bottom: 0;
  font-size: 4rem;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  margin-bottom: 4rem;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.company-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 1rem;
}
.company-name {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.company-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.job-title {
  font-size: 0.7rem;
}
.exp-icon {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  background-size: cover;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.154);
}
.exp {
  padding: 1rem;
}

.deployment-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 1rem;
  margin-left: 4rem;
  margin-top: 0.1rem;
}
.deployments {
  font-weight: bold;
  margin-left: 4rem;
  font-size: 0.6rem;
}
@media (max-width: 1280px) {
  .exp-wrapper {
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .exp-wrapper {
    width: 90vw;
  }
}
